<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="robot1_"/>
  <xacro:arg name="namespace" default="robot1"/>
  <xacro:arg name="collide_bitmask" default="0x01"/>
  <xacro:arg name="visible" default="false"/>

  <xacro:include filename="$(find uqslam)/models/pioneer3at/model.sdf.xacro"/>

  <xacro:pioneer3at
    prefix="$(arg prefix)"
    namespace="$(arg namespace)"
    collide_bitmask="$(arg collide_bitmask)"
    visible="$(arg visible)"/>
</robot>
